$header-bg: #f8efe6;
$light-brown: #ad6116;
$dark-leather: #60350C;
$top-bar-font-size: 14px;

div.header {
	display: flex;
	background-color: transparent;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	flex-wrap: wrap;
	flex-direction: column;

	.top-bar {
		background-color: $light-brown;
		height: 8px;
		margin-top: 0;
		width: 100%;

		.row {
			width: 100%;
			background-color: $header-bg;
	
			.box {
				height: 100px;
				display: flex;
				justify-content: center;
				font-size: $top-bar-font-size;
	
				&.main {
					border-left: solid 1px $light-brown;
					margin-top: 10px;
					margin-bottom: 10px;
				}
	
	
				.highlight {
					color: $light-brown;
					font-size: $top-bar-font-size + 2;
				}	
	
				img {
					width: auto;
					height: 100%;
				}
			}
	
			.col .short {
				height: 30px;
				width: fit-content;
			}
	
			.col:first-child .box {
				border-left: transparent;
			}
		}
	}
}