$header-bg: #f8efe6;
$light-brown: #ad6116;
$lighter-brown: #bb824a;
$dark-leather: #60350C;
$header-font-size: 18px;
$header-height: 120px;


.header {
	display: flex;
	flex-direction: column;

	.bar {
		background-color: $light-brown;
		width: 100%;

		&.top {
			height: 6px;
			margin-top: 0;
		}

		&.bottom {
			height: 1px;
			margin-bottom: 0px;
		}
	}

	nav {
		height: 120px;
		width: 100%;
		background-color: $header-bg;
		
		.divider {
			background-color: $light-brown;
			width: 1px;
			height: 80%;
			margin: 0 50px;
		}

		img {
			height: 100%;
			width: auto;

			&#phoneImage {
				height: 25px;
				width: 25px;
				margin-right: 10px;
			}
		}

		ul {
			width: 500px;
			

			li {
				a {
					font-weight: 500;
					font-size: $header-font-size;

					&:hover {
						color: $lighter-brown;
					}

					&.active {
						// pitää ylikirjoittaa bootsrapin color
						color: $light-brown !important; 
						font-weight: 700;
						font-size: $header-font-size + 2;
					}
				}
			}
		}
	}
}
